@import './generalClasses';

.company-title{
    font-size: 2.8rem;
}

.jumbotron{
    background-image: url('../img/bg-1.png') ;
    background-color: transparent;
    color:white;
    margin-bottom: 0rem;
    padding:16rem 2rem;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.about_us_section{
    font-family: Lato,sans-serif;
}
.about_us_full_text{
    padding: 0 30px 0 90px;
    margin-bottom: 50px; 
    margin-top: 50px;
}
.about_us_title{
    font-family: Kanit,sans-serif;
    line-height: 1.2;
}
.about_info_text{
    padding: 13px 0 18px 0;
    line-height: 1.4;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.about_us_social_media_icons{
    list-style-type: none;  
    padding: 30px 0 0 0; 
}
.media_ico{
    display: inline-block;
    /* background: black; */
    margin-left: 20px; 
}
.media_ico i{
    /* padding: 15px;  */
    /* color: white; */
    font-size: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    background: #3e3b58;
    color: #fff;
    border-radius: 0.8em;
}
.media_ico i:hover{
    background: rgb(13, 167, 228);
}

.background-2{
    padding-right: 0px;
    padding-left: 0px;
}

/* About us section Ends here */

/* Opportunity Section Starts here  */
.opportunity_section{

}
.background_3{
    background-image: url('../img/bg-3.png') ;
}
.opportunity-title{
    font-size: 28px;
    font-family:  Kanit,sans-serif;
    padding: 50px 0 15px 0;
}
.opp-all-grids{
    padding:20px 80px 0 80px;
}
.opp-grid{
    padding: 20px ;
}
.opp-grid-title{
    @extend .lato-font-family;
    font-size: 25px;
    padding: 40px 0 25px 0;
}
.opp-grid-content{
    padding: 0 35px 35px 30px;
}
/* Opportunity Section Ends here */

/* Why Us section Starts here */
.whyus_section{
    background-color: #0993b8;
}
.why-title{
    color: white;
    font-size: 30px;
    padding: 100px 0 50px 0;
}
.whyus-grids{
    padding: 0 100px 0 100px;
}
.whyus-p-grids{
    padding-bottom: 50px; 
}

.why-grid-title{
    color: #c7c2ec;
    font-size: 20px;
}
.why-grid-content{
    display: flex;
}
.why-grid-digits{
    @extend .kanit-font-family;
    font-size:70px;
    padding-right: 10px;
}
.why-grid-text{
    @extend .kanit-font-family;
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
}
/* Why Us section Ends here */

/* Investment section starts here */

.invest-title{
    @extend .kanit-font-family;
    font-size: 28px;
    padding: 70px 0 30px 0;
}
.invest-grids{
    padding: 0 100px 20px 100px;

    img{
        width: 100%;
        height: 100%;
    }    
}
.invest-grid-title{
    @extend .kanit-font-family;
    font-size: 22px;
    padding: 20px 0 10px 0;
    text-align: center;
}
.invest-grid-text{
    @extend .lato-font-family;
}
.invest-grid-learn{
    padding: 0px 0 15px 0;
}

/* Investment section ends here */